URxvt.reverseVideo: True
URxvt.font: xft:inconsolata:pixelsize=12
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: chromium
URxvt.matcher.button: 1
URxvt.scrollstyle: plain
URxvt.saveLines: 4095
